*,
:before,
:after {
    box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
:root {
    --main_color: #000000;
    --accent-color: #FFFFFF;
    --bg-color: #E5E5E5;
    --content-line-height: 1.2;
}
body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    background: var(--bg-color);
}
.logo img {
    height: 60px;
    width: 100px;
}
.main-logo {
    margin: 80px 0;
}
.nav-list {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.nav-cont a {
    font-size: 20px;
    line-height: var(--content-line-height);
    color: var(--main_color);
    text-decoration: none;
    padding: 0 40px;
}
.slider {
    width: 100%;
}
.main-text {
    max-width: 1024px;
    margin: 140px auto 80px;
}
.text {
    font-size: 28px;
    line-height: var(--content-line-height);
    color: var(--main_color);
}
.header-box {
    display: block;
    margin: 0 auto 47px;
    max-width: 1024px;
    color: var(--main_color);
    border: 1px solid;
    border-color: var(--main_color) transparent;
    padding: 16px;
}
.header {
    font-size: 40px;
    line-height: var(--content-line-height);
    text-transform: uppercase;
}
.history {
    margin-bottom: 60px;
}
.container {
    display: flex;
    max-width: 1024px;
    margin: 0 auto 36px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box {
    display: flex;
    align-items: center;
    text-align: left;
    background: var(--main_color);
    font-size: 18px;
    line-height: var(--content-line-height);
    color: var(--accent-color);
    padding: 50px;
    flex: 0 1 500px;
    margin: 0 0 24px;
}
.box span {
    font-size: 48px;
}
.comment-area {
    border: 1px solid var(--main_color);
    max-width: 1024px;
    margin: 0 auto 100px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.comment-field {
    font-size: 18px;
    line-height: var(--content-line-height);
    color: var(--main_color);
    opacity: 0.5;
    min-width: 400px;
    height: 60px;
    background: var(--bg-color);
    border: transparent;
    padding: 18px 2px;
    resize: none;
}
.label-block {
    color: var(--main_color);
}
.btn {
    font-size: 28px;
    line-height: var(--content-line-height);
    color: var(--accent-color);
    width: 200px;
    height: 60px;
    background: var(--main_color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
/* tablet */

@media only screen

and (min-width: 1024px)

and (max-width: 1439px) {

body {
    padding: 48px 48px 0;
}
.logo img {
    height: 48px;
    width: 80px;
}
.main-logo {
    margin: 0 0 96px;
}
.nav-list {
    display: none;
}
.main-text {
    max-width: 824px;
    margin: 108px auto 48px;
}
.text {
    font-size: 20px;
}
.header {
    font-size: 28px;
}
.header-box {
    /*width: 100%;*/
    margin-bottom: 32px;
}
.container {
    display: block;
}
.box {
    padding: 48px;
}
.comment-area {
    margin-bottom: 80px;
}
}